

<head>
  <style>
    div.navbar-fixed{display:none;}
    body {

      background-image: none !important;
    }
  </style>
</head>
<div class=" col s12" >
  <h4>Transactions for the month  <%=h monthname(@month.to_i) %></h4>
  <table class="responsive-table highlight centered white">
    <thead>
    <tr>
      <th data-field="diner_id">Diner Id </th>
      <th data-field="diner">Diner </th>
      <th data-field="transaction_id" >Transaction Id</th>
      <th data-field="payment" >Payment($)</th>
      <th data-field="paid_at" >Paid At</th>

    </tr>
    </thead>

    <tbody>
    <% if !@transactions.nil? %>
        <% @transactions.each do |p| %>
            <tr>
              <td><%=p.diner.id %></td>
              <td><%=p.diner.first_name %> &nbsp; <%=p.diner.last_name %></td>
              <td><%=p.transaction_id %></td>
              <td><%=p.payment_amount %></td>
              <td><%=p.purchased_at %></td>


            </tr>
        <%end%>
    <%end%>

    </tbody>
  </table>
</div>


