<head>


  <script>

      $( document ).on('turbolinks:load', function() {
          var $input =$('.datepicker').pickadate({
              format: 'mm/dd/yyyy',

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15,// Creates a dropdown of 15 years to control year

          });
          var picker = $input.pickadate('picker');
          picker.set('min', Date.now())
          picker.set('select', <%=params[:date] %>, {format: 'mm/dd/yyyy'});

      });
 ;


  </script>
</head>


<div class="white">
<div id="search_bar" class="row">
  <div class="col s12 z-depth-4 card-horizontal  " >
    <form class=" " method="post" action="/diner/search_reservations" >
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="row margin">
        <div class="input-field col s3">
          <input id="restaurant_id" name="restaurant_id" value="<%=@restaurant_id %>" type="hidden"/>
          <input id="restaurant_category" name="restaurant_category" value="<%=@category %>"type="hidden"/>

          <i class="mdi-social-person-outline prefix large material-icons prefix">location_on</i>
          <% if params[:key]!=nil %>
          <input id="select_origin" name="key" type="text" value="<%=params[:key]%>" class="validate"required>
          <% else %>
              <input id="select_origin" name="key" type="text" class="validate" required>
          <% end %>
              <label for="select_origin" class="active">Location</label>
        </div>
        <div class="input-field col s2">
          <i class="material-icons prefix">today</i>
          <% if params[:date]!=nil %>
              <%= puts "date" +params[:date] %>
              <input id="date" name ="date" type="date" class="datepicker" data-default="<%=params[:date] %>"required>
          <% else %>
              <input id="date" name ="date" type="date" class="datepicker"  data-default="<%=params[:date] %>"required>
          <% end %>

              <label for="date" class="active">Date</label>
        </div>

        <div class="input-field col s2">
          <i class="material-icons prefix">access_time</i>
          <% if params[:time]!=nil %>
                <input id="timepicker" name="time"   class="timepicker" data-default="<%=params[:time] %>" type="time">
          <% else %>
                <input id="timepicker" name="time" class="timepicker" data-default="<%=params[:time] %>" type="time">

          <% end %>
          <label for="timepicker" class="active">Time</label>

        </div>

        <div class="input-field col s2">
          <i class="mdi-action-lock-outline prefix material-icons prefix">people</i>
          <% if params[:packs]!=nil %>
              <input id="packs" name="packs" type="number" class="validate" value="<%=@packs%>"required>
          <% else %>
              <input id="packs" name="packs" type="number" class="validate" required>
          <% end %>
          <label for="packs" class="active">Packs</label>

        </div>



        <div class="input-field col s3">
          <button class="btn waves-effect waves-light "  type="submit" name="action">Search

          </button>

        </div>
      </div>




    </form>
  </div>
</div>
</div>