<!DOCTYPE html>
<html>
<head>
  <title>TableLockApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
    div.content, main, footer {
      padding-left: 264px;
      padding-right:50px;
    }

    @media only screen and (max-width : 992px) {
      div.content, main, footer {
        padding-left: 0;
      }
    }
    p {font-size:20px;
      color: black}
    div.input-field {
      color:black;

    }
    #toast-container {
      top: auto !important;
      right: auto !important;


    }



    body{



      background-repeat: no-repeat;
      background: url(<%= asset_path 'rest4.jpg' %>);

     -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;


    }

  </style>
  <script>
      $(document).ready(function() {

          $('select').material_select();
      });

      $(document).on('turbolinks:load', function(){
          Materialize.updateTextFields();
      });


      $(document).ready(function(){
          $('.collapsible').collapsible();
      });
      $(document).ready(function(){
          $('.parallax').parallax();
      });

      $( document ).on('turbolinks:load', function() {

          $('#timepicker').pickatime({
              autoclose: false,
              twelvehour: false
          });
      });


  </script>
</head>
<body >

<div class="ex1">
  <header>
    <div class="navbar-fixed">
      <nav class="nav-extended">
        <div class="nav-wrapper">
          <%= image_tag("logonew.png",:width=>"64", :height=>"64",:alt=>"logo", :align=>"middle") %>
          <!--<a href="#" class="brand-logo">Logo</a>-->
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if !session[:user_id].nil? %>
              <% count=Notification.where(:user_id=>session[:user_id]).where(:checked =>false).count %>

                <% if count > 0 %>

                <li><a class="dropdown-button" data-beloworigin=true onclick=getElementById("check").innerHTML=0; data-activates="dropdown2"><span id ="check" class="new badge"><%= count %></span><i class="material-icons right">notifications</i></a></li>
                <% else %>
                    <li><a class="dropdown-button" data-beloworigin=true onclick=getElementById("check").innerHTML=0; data-activates="dropdown2"><span id ="check" class=" badge"></span><i class="material-icons right">notifications</i></a></li>
                <% end %>
              <ul id='dropdown2' class='dropdown-content'>
                <% notifications=Notification.where(:user_id=>session[:user_id]).where(:checked=>false) %>
                <% notifications.each do |n| %>

                    <li ><span><%=n.message %></span></li>
                    <% n.checked=true %>
                    <% n.save %>
                    <% end %>

              </ul>
            <% end %>
            <% if !session[:user_id].nil? %>
            <% @user=User.find(session[:user_id]) %>
            <% if @user.user_type==0 %>
                <% @name=@user.diner.first_name %>
            <%elsif @user.user_type==1 %>
                <% @name=@user.restaurant.restaurant_name %>
            <%else %>
                <% @name=@user.admin.first_name %>
            <% end %>



            <li><a class="dropdown-button" data-beloworigin=true href="#!" data-activates="dropdown1"><%=@name %><i class="material-icons right">arrow_drop_down</i></a></li>
            <% else %>
                <!--<li><a class="dropdown-button" data-beloworigin=true href="#!" data-activates="dropdown1">User<i class="material-icons right">arrow_drop_down</i></a></li>-->
            <% end %>
                <ul id='dropdown1' class='dropdown-content'>
              <li ><a href="/logout">Logout</a></li>

            </ul>

          </ul>
        </div>

      </nav>
    </div>
   <!-- <ul id= "slide-out"  style="width:240px; margin-top:70px;" class="side-nav fixed">
      <li><a href="#">Icon 1</a></li>
      <li><a href="#">Icon 2</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>-->
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons"></i></a>
  </header>
</div>
<div class ="content">


    <% flash.each do |key, value| %>
      <div id="toast-container"></div>
      <% if key=="success" %>
      <script>
          $(function() {
              Materialize.toast("<%= value %>", 4000,'green');
          });
      </script>
      <% elsif key=="error"%>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 8000,'red');
              });
          </script>
      <% else %>
          <script>
              $(function() {
                  Materialize.toast("<%= value %>", 6000,'yellow');
              });
          </script>

      <% end %>

    <% end %>

  <%= yield %>
</div>
</div>
</body>

</html>
