<head>
  <style>
    body{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
</head>
<%= render :partial=>"diner/side_bar" %>

<!-- Page Layout here -->
<div class="row">


  <!-- Cards container -->
  <div class="col s12 m12 ">
    <% if !@favourites.nil? %>
    <% @favourites.each do |fav| %>


      <div class="col s4">
        <div class="card small">
          <div class="card-image">
            <!--<%= image_tag("rest1.jpg", :align=>"middle") %>-->
            <%= image_tag fav.restaurant.avatar.url(:medium) %>

          </div>
          <div class="card-content">
            <span class="card-title"><%=fav.restaurant.restaurant_name %></span>
          </div>
          <div class="card-action">
            <a href="/restaurant/public_profile?restaurant_id=<%= fav.restaurant_id %>">Visit Restaurant</a>
          </div>
        </div>
      </div>



        <% end %>
    <% end %>



        </div>
  </div>
</div>