<head>
  <style>
  h4 {
  color: #4db6ac;

  }
  body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>
  <script>
      $(document).ready(function() {

          $('select').material_select();
      });
  </script>
</head>
<%= render :partial=>"restaurant/side_bar" %>
<div class="row">
     <form class="col s12 white " method="post" action="/restaurant/profile/update">
       <div class="row">
       </div>
      <h4>Profile</h4>

       <hr>
       <div class="row">
       </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">restaurant </i>
          <input  id="restaurant_name" name="restaurant[restaurant_name]"  value="<%=@restaurant.restaurant_name %>" type="text" class="validate">
          <label for="restaurant_name" class="active">Restaurant Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="telephone" name="restaurant[telephone]"  value="<%=@restaurant.telephone %>" type="tel" class="validate">
          <label for="icon_telephone" class="active">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix ">location_on</i>

          <label for="address" >Address</label>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s6 ">
          <i class="material-icons prefix"></i>
          <input id="add_line1"  name=restaurant[add_line1]  value="<%=@restaurant.add_line1%>" type="text" class="validate" >
          <label for="add_line1" class="active" >Line 1 address</label>
        </div>
        <div class="input-field col s6">
          <input id="add_line2" name="restaurant[add_line2]"  value="<%=@restaurant.add_line2 %>" type="text" class="validate" >
          <label for="add_line2" class="active" >Line 2 address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
          <input id="city" type="text" name="restaurant[city]"  value="<%=@restaurant.city %>" class="validate"  >
          <label for="city" class="active" >City</label>
        </div>
        <div class="input-field col s6">
          <input id="province" type="text" name="restaurant[province]" value="<%=@restaurant.province %>"  class="validate" >
          <label for="province" class="active" >State/Province/Region</label>
        </div>
      </div>

      <div class="row center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Save
          <i class="material-icons ">send</i>
        </button>
      </div>
      <div class="row">

      </div>


    </form>

</div>