<head>
  <style>
    h6 {
      color: #4db6ac;

    }
    body{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  <script>
      $(document).ready(function(){
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal').modal();
      });
  </script>
</head>
<%= render :partial=> "diner/search_bar" %>
<%= render :partial=> "diner/side_bar" %>
<% @restaurants.each do |rest| %>
    <% if @tss[rest.id].nil? %>
        <% next %>
    <% end %>
    <div class="card horizontal">
      <div class="card-image">
        <img src=<%= asset_path 'logo.jpg' %> width="60" height="200">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h6><a href="/restaurant/public_profile?restaurant_id=<%=rest.id %>"><%=rest.restaurant_name%></a> </h6>
          <span><%=rest.dining_information.cuisines %></span><br>
          <span><%=rest.add_line1%></span>&nbsp;
          <span><%=rest.add_line2%></span>&nbsp;
          <span><%=rest.city%></span>&nbsp;
          <span><%=rest.province%></span>
        </div>
        <div class="card-action">
          <% @tss[rest.id].each do |ts| %>
              <%  if ts[1]==0 %>
                <a class="waves-effect waves-light btn " href="/diner/make_reservation?id=<%=rest.id%>&ts=<%=ts[0]%>&date=<%=@date%>&packs=<%=@packs%>"><%=ts[0]%></a>
              <%  elsif ts[1]==1  %>
                  <a class=" black waves-effect waves-light btn " href="/diner/add_to_waiting_list?id=<%=rest.id%>&ts=<%=ts[0]%>&date=<%=@date%>&packs=<%=@packs%>"><%=ts[0]%></a>
              <% end %>
          <% end %>

        </div>

      </div>
    </div>
    <% end %>

