<head>
  <style>
    p {font-size:18px;
      color: black}
    label {font-size:18px;
      color: black}
    select{  font-size:20px;
      color: black}

    body{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
      span{
        color:white
      }
  </style>

  <script>
      $(document).on('turbolinks:load', function() {

          $('select').material_select();
      });
      function optionCheck(that) {
          if (that.value == "1") {

              document.getElementById("restaurant_search").style.display = "block";
              document.getElementById("date_search").style.display = "none";
          } else {
              document.getElementById("date_search").style.display = "block";
              document.getElementById("restaurant_search").style.display = "none";
          }
      }
      $( document ).on('turbolinks:load', function() {
          var $input =$('.datepicker').pickadate({
              format: 'mm/dd/yyyy',

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15,// Creates a dropdown of 15 years to control year

          });
          var picker = $input.pickadate('picker');
          picker.set('max', Date.now())



      });


  </script>
</head>
<%= render :partial=> "diner/side_bar" %>
<form method="post" action="/diner/reservation_history/search">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="row">
    <div class=" col s3" >
      <select name="search_by" onchange="optionCheck(this);" required>
        <option value="" disabled selected>Search by</option>
        <option value="1">Restaurant</option>
        <option value="2">Date</option>

      </select>

    </div>
    <div id="restaurant_search" class=" col s3"  style="display: none;" >
      <input  name="restaurant_search" type="text" class="validate"  >
    </div>
    <div id="date_search" class=" col s3" style="display: none;" >
      <input name="date_search" name="date" type="date" class="datepicker"  >
    </div>

    <div class=" col s3 ">

      <button type="submit" name="action" class="waves-effect waves-light btn">Search </button>

    </div>
  </div>
</form>
<% if !@past_reservations.nil? && @set==1%>
    <span >No results found</span>
<% end %>

<div class="col s12 m7">
  <% @past_reservations.each do |pr| %>
  <div class="card horizontal">
    <div class="card-image">
      <%= image_tag pr.restaurant.avatar.url(:medium) %>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Restaurant: &nbsp;<%= pr.restaurant.restaurant_name %></p>
        <p>Date: &nbsp; <%=pr.time_slot.date %></p>
        <p>Time Slot: &nbsp; <%=pr.time_slot.time.strftime("%H:%M") %> </p>
        <% if pr.customer_status.to_i==0 %>
          <p>Arrival Status: On Time </p>
        <% elsif pr.customer_status.to_i==0 %>
            <p>Arrival Status: Delayed </p>
        <% elsif pr.customer_status==2 %>
            <p>Arrival Status: No show </p>
        <% else %>
            <p>Arrival Status: Not Marked</p>
        <% end %>

      </div>
      <div class="card-action">
        <a class="btn-floating btn-large waves-effect waves-light red" href="/diner/add_to_favourites?id=<%=pr.restaurant.id%>'"><i class="material-icons">favorite</i></a>
        <label>Add to favourites</label>
      </div>
    </div>
  </div>
      <% end %>
</div>

