<head>
  <style>
    body{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  <script>
      $( document ).ready(function() {
          $('.datepicker').pickadate({
              format: 'mm/dd/yyyy',
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 100 // Creates a dropdown of 15 years to control year
          });
      });
      $( document ).on('turbolinks:load', function() {
          var $input =$('.datepicker').pickadate({
              format: 'mm/dd/yyyy',

              selectMonths: true, // Creates a dropdown to control month
              selectYears: 15,// Creates a dropdown of 15 years to control year

          });
          var picker = $input.pickadate('picker');

          picker.set('select', Date.now())


      });

  </script>
</head>
<%= render :partial=>"restaurant/side_bar" %>
<form method="post" action="/restaurant/reservations/search">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<div class="row">




  <div class="input-field col s3">
    <i class="material-icons prefix">today</i>
    <input id="date" name="date" type="date" class="datepicker">
    <label for="date" class="active">Date </label>
  </div>



  <div class=" col s3 ">
    <button class="btn waves-effect waves-light "  type="submit" name="action">Search

    </button>


  </div>
</div>
</form>
<div class=" col s12" >
  <table class="responsive-table highlight white centered">
    <thead>
    <tr>
      <th data-field="name">Name</th>
      <th data-field="date" >Date</th>
      <th data-field="time_slot">Time Slot</th>
      <th data-field="action" >Action</th>
    </tr>
    </thead>

    <tbody>
    <% if !@reservations.nil? %>

      <% @reservations.each do |res| %>
            <tr>
              <td><a href="/diner/public_profile?diner_id=<%=res.diner_id%>"><%= res.diner.first_name %> &nbsp; <%= res.diner.last_name%></a></td>
              <td><%= res.time_slot.date %></td>
              <td><%= res.time_slot.time.strftime("%H:%M") %></td>
              <td><a class="waves-effect waves-light btn red" href="/restaurant/reservations/cancel/?id=<%=res.id%>">Cancel</a>
               <% if res.customer_status==0 %>
                <a id="on_time"  disabled class="waves-effect waves-light btn green" href="/restaurant/mark_status/?id=<%=res.id%>&value=0">On Time</a>
               <% else %>
                    <a id="on_time"   class="waves-effect waves-light btn green" href="/restaurant/mark_status/?id=<%=res.id%>&value=0">On Time</a>
                <% end %>
                <% if res.customer_status==1 %>
                    <a id="delay" disabled class="waves-effect waves-light btn yellow" href="/restaurant/mark_status/?id=<%=res.id%>&value=1">Delay</a>
                <% else %>
                    <a id="delay" class="waves-effect waves-light btn yellow" href="/restaurant/mark_status/?id=<%=res.id%>&value=1">Delay</a>
                <% end %>
                <% if res.customer_status==2 %>
                    <a id="no_show" disabled class="waves-effect waves-light btn black" href="/restaurant/mark_status/?id=<%=res.id%>&value=2">No show</a></td>
                <% else %>
                    <a id="no_show"  class="waves-effect waves-light btn black" href="/restaurant/mark_status/?id=<%=res.id%>&value=2">No show</a></td>
                <% end %>

            </tr>
        <%end %>


   <%end %>


    </tbody>
  </table>
</div>