<head>
  <style>

    select{  font-size:20px;
      color: black}

    body{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    p {font-size:18px;
      color: black}


  </style>

  <script>
      $(document).ready(function() {

          $('select').material_select();
      });
      function optionCheck(that) {
          if (that.value == "1") {

              document.getElementById("restaurant_search").style.display = "block";
              document.getElementById("date_search").style.display = "none";
          } else {
              document.getElementById("date_search").style.display = "block";
              document.getElementById("restaurant_search").style.display = "none";
          }
      }
      $( document ).ready(function() {
          $('.datepicker').pickadate({
              format: 'mm/dd/yyyy',
              selectMonths: true, // Creates a dropdown to control month
              selectYears: 100 // Creates a dropdown of 15 years to control year
          });
      });
  </script>
</head>

<%= render :partial=>"diner/side_bar" %>
<form method="post" action="/diner/reservations/search">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<div class="row">
  <div class=" col s3" >
    <select name="search_by" onchange="optionCheck(this);">
      <option value="" disabled selected>Search by</option>
      <option value="1">Restaurant</option>
      <option value="2">Date</option>

    </select>

  </div>
  <div id="restaurant_search" class=" col s3"  style="display: none;" >
    <input  name="restaurant_search" type="text" class="validate" >
  </div>
  <div id="date_search" class=" col s3" style="display: none;" >
    <input name="date_search" name="date" type="date" class="datepicker" >
  </div>

  <div class=" col s3 ">

    <button type="submit" name="action" class="waves-effect waves-light btn">Search </button>

  </div>
</div>
</form>
<div class="col s12 m7">
  <% @past_reservations.each  do |fr|%>

  <div class="card horizontal">
    <div class="card-image">
      <img src=<%= asset_path 'logo.jpg' %> width="60" height="220">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Restaurant:&nbsp;<%= fr.restaurant.restaurant_name %></p>
        <p>Date:&nbsp;<%= fr.time_slot.date %></p>
        <p>Time:&nbsp;<%=fr.time_slot.time.strftime("%H:%M") %></p>
        <p>Number of packs:&nbsp;<%= fr.packs %></p>
      </div>
      <div class="card-action">

        <a href="/diner/reservations/cancel?id=<%=fr.id %>" class="waves-effect waves-light btn-medium">Cancel</a>

      </div>

    </div>
  </div>
      <% end %>
</div>

