<head>
  <style>
    label {font-size:20px;
      color: black}
    .input-field label {
      color: #000;

    }


  body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



  </style>
  <script>
      function price1(checkboxElem) {
          if (checkboxElem.checked) {

              document.getElementById("price1").style.display = "block";

          } else {
              document.getElementById("price1").style.display = "none";
          }
      }
      function price2(checkboxElem) {
          if (checkboxElem.checked) {

              document.getElementById("price2").style.display = "block";

          } else {
              document.getElementById("price2").style.display = "none";
          }
      }
      $(document).ready(function(){
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal').modal();
      });



  </script>
</head>
<%= render :partial=>"restaurant/side_bar" %>
<form class="form " method="post" action="/restaurant/dining_information/update">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <ul class="collapsible white" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">info</i>About</div>
      <div class="collapsible-body"><input  name=profile[about] value="<%=@restaurant.about %>" id="about" type="text" ></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>Dining Information</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6">
            <input id="dining_style"  name=profile[dining_style] value="<%=@dining_information.dining_style%>" type="text" class="validate">
            <label for="dining_style" class="active">Dining Style</label>
          </div>
          <div class="input-field col s6">
            <input id="phone_number" name=profile[phone_number] value="<%=@dining_information.phone_number%> "type="tel" class="validate">
            <label for="phone_number" class="active">Phone Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="cuisines" name=profile[cuisines] value="<%=@dining_information.cuisines%>" type="text" class="validate">
            <label for="cuisines"class="active">Cuisines</label>
          </div>
          <div class="input-field col s6">
            <input id="website" name=profile[website] value="<%=@dining_information.website%>" type="url" class="validate">
            <label for="website"class="active">Web Site</label>
          </div>

        </div>
        <div class="row">
          <!--<div class="input-field col s6">-->
            <!--<input id="operation_hours"  name=profile[operation_hours] type="text" class="validate">-->
            <!--<label for="operation_hours">Hours of Operation</label>-->
          <!--</div>-->



          <div class="input-field col s6">
            <input id="dress_code"  name=profile[dress_code] type="text" value="<%=@dining_information.dress_code%>" class="validate">
            <label for="dress_code"class="active">Dress Code</label>
          </div>
          <div class="input-field col s6">
            <input id="add_info" type="text" name=profile[add_info] value="<%=@dining_information.add_info%>" class="validate">
            <label for="add_info"class="active">Additional</label>
          </div>

        </div>



        <div class="row">

          <div class="input-field col s6">
            <input id="capacity" name="profile[capacity_seating]" value="<%=@dining_information.capacity_seating%>" min="0" type="number" class="validate" required>
            <label for="capacity"class="active">Capacity per seating</label>
          </div>


          <div class="input-field col s6">
            <input id="time" type="number" min="15" max="120" value="<%=@dining_information.time_seating%>" step="15"name="profile[time_seating]" class="validate" required>
            <label for="time"class="active">Time per seating(mins)</label>
          </div>
        </div>












      </div>
    </li>
    <li>
    <div class="collapsible-header"><i class="material-icons">local_offer</i>Meal Types</div>
    <div class="collapsible-body">
      <button data-target="addMealType" class="btn right">Add Meal Type</button>
      <table>
        <thead>
          <th>Title</th>
          <th>Price($)</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Action</th>
        </thead>
        <tbody>
        <% if !@meal_types.empty? %>
        <% @meal_types.each do |m| %>
        <tr>
          <td><%= m.title %></td>
          <td><%= m.price %></td>
          <td><%= m.start_time.strftime("%H:%M") %></td>
          <td><%= m.end_time.strftime("%H:%M") %>

          </td>
         <td> <a type="button" href="/restaurant/dining_information/remove_meal_type?id= <%=m.id %>">Remove</a></td>
        </tr>
        </tbody>
            <% end %>
        <% end %>
      </table>
      <!--<div class="row">-->
        <!--<div class="col s6">-->
      <!--<p>-->
        <!--<input type="checkbox" name="buffet" id="buffet" onchange="price1(this)"  />-->
        <!--<label for="buffet">Buffet</label>-->
      <!--</p>-->
        <!--</div>-->
        <!--<div class="col s6">-->
      <!--<div id="price1" style="display: none;" class="input-field col s6">-->

        <!--<input id="buffet" name="buffet_price" type="number" class="validate">-->
        <!--<label for="buffet" class="active">Price($)</label>-->

      <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col s6">-->
      <!--<p>-->
        <!--<input type="checkbox"  name="high_tea" id="high_tea" onchange="price2(this)" />-->

        <!--<label for="high_tea">High Tea</label>-->
      <!--</p>-->
        <!--</div>-->
        <!--<div class="col s6">-->
      <!--<div id= "price2" style="display: none;" class="input-field col s6">-->

        <!--<input id="buffet" name="buffet_price" type="number" class="validate">-->
        <!--<label for="buffet" class="active">Price($)</label>-->

      <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col s6">-->
          <!--<p>-->
            <!--<input type="checkbox" name="other" id="other"  />-->

            <!--<label for="other">other</label>-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->

    </div>

    </li>
  </ul>

  <button class="btn waves-effect waves-light  right" type="submit" name="action">Save
    <i class="material-icons right">save</i>
  </button>

</form>
<form method="post" action="/restaurant/dining_information/add_meal_type">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div id="addMealType" class="modal ">
    <div class="modal-content">

      <div class="row">
        <label>Title </label>
        <input type='text' name="mt[title]"  />

      </div>
      <div class="row">
        <label>Price($)</label>
        <input type='number' name="mt[price]" min='0'   step='0.01' />

      </div>


      <div class="row">
        <label>From </label>
        <input type='time' name="mt[start_time]" min='00:00' max='24:00'  step='1800' />

      </div>
      <div class="row">
        <label>To</label>
        <input type='time' name="mt[end_time]" min='00:00' max='24:00'  step='1800' />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit" name="action">Save
        <i class="material-icons ">send</i>
      </button>
    </div>
  </div>
</form>