<head>
  <style>
    label {font-size:20px;
      color: black}
    .input-field label {
      color: #000;

    }


  </style>
</head>
<%= render :partial=>"restaurant/side_bar" %>
<form class="form " method="post" action="/restaurant/dining_information/update">

  <ul class="collapsible white" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">info</i>About</div>
      <div class="collapsible-body"><input  name=profile[about] value="<%=@restaurant.about %>" id="about" type="text" ></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>Dining Information</div>
      <div class="collapsible-body">
        <div class="row">
          <div class="input-field col s6">
            <input id="dining_style"  name=profile[dining_style] value="<%=@dining_information.dining_style%>" type="text" class="validate">
            <label for="dining_style" class="active">Dining Style</label>
          </div>
          <div class="input-field col s6">
            <input id="phone_number" name=profile[phone_number] value="<%=@dining_information.phone_number%> "type="tel" class="validate">
            <label for="phone_number" class="active">Phone Number</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="cuisines" name=profile[cuisines] value="<%=@dining_information.cuisines%>" type="text" class="validate">
            <label for="cuisines"class="active">Cuisines</label>
          </div>
          <div class="input-field col s6">
            <input id="website" name=profile[website] value="<%=@dining_information.website%>" type="url" class="validate">
            <label for="website"class="active">Web Site</label>
          </div>

        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="operation_hours"  name=profile[operation_hours] type="text" class="validate">
            <label for="operation_hours">Hours of Operation</label>
          </div>


          <div class="input-field col s6">
            <input id="dress_code"  name=profile[dress_code] type="text" value="<%=@dining_information.dress_code%>" class="validate">
            <label for="dress_code"class="active">Dress Code</label>
          </div>

        </div>



        <div class="row">

          <div class="input-field col s6">
            <input id="capacity" name="profile[capacity_seating]" value="<%=@dining_information.capacity_seating%>" min="0" type="number" class="validate">
            <label for="capacity"class="active">Capacity per seating</label>
          </div>


          <div class="input-field col s6">
            <input id="time" type="number" min="15" max="120" value="<%=@dining_information.time_seating%>" step="15"name="profile[time_seating]" class="validate">
            <label for="time"class="active">Time per seating</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field col s6">
            <input id="add_info" type="text" name=profile[add_info] value="<%=@dining_information.add_info%>" class="validate">
            <label for="add_info"class="active">Additional</label>
          </div>
        </div>











      </div>
    </li>
    <!--<li>-->
    <!--<div class="collapsible-header"><i class="material-icons">local_offer</i>Offers</div>-->
    <!--<div class="collapsible-body"> <input id="offers" type="text" class="validate"></div>-->
    <!--</li>-->
  </ul>

  <button class="btn waves-effect waves-light  right" type="submit" name="action">Save
    <i class="material-icons right">save</i>
  </button>

</form>