<head>
  <style>
    body{
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= asset_path 'rest4.jpg' %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  </style>
  <script>
      var chip = {
          tag: 'chip content',
          image: '', //optional
          id: 1, //optional
      };

      $(document).ready(function() {
      $('.chips').material_chip();
      });

      $(document).ready(function() {
      $('.chips-initial').material_chip({
          data: [{
              tag: 'Apple',
          }, {
              tag: 'Microsoft',
          }, {
              tag: 'Google',
          }],
      });
      });
      $(document).ready(function() {
          $('.chips-placeholder').material_chip({
              placeholder: 'Enter a tag',
              secondaryPlaceholder: '+Tag',
          });
      });
      $(document).ready(function() {
        $('.chips-autocomplete').material_chip({
            autocompleteOptions: {
                data: {
                    'Apple': null,
                    'Microsoft': null,
                    'Google': null
                },
                limit: Infinity,
                minLength: 0
            }
        });
      });
      $(document).ready(function(){
          // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
          $('.modal').modal();
      });

      $(document).ready(function() {
          $('select').material_select();
      });
      $( document ).on('turbolinks:load', function() {

          $('#timepicker').pickatime({
              autoclose: false,
              twelvehour: false
          });
      });
      $( document ).on('turbolinks:load', function() {

          $('#timepicker2').pickatime({
              autoclose: false,
              twelvehour: false
          });
      });



  </script>
</head>
<%= render :partial=>"restaurant/side_bar" %>

<form method="get" action="">
  <div class=" col s12 white" >
    <div class="row">


    </div>

    <table class="responsive-table highlight centered white">
      <thead>
      <tr>
        <th data-field="day">Day</th>
        <th data-field="tp1">Time Periods</th>
        <th>
          <button data-target="addPeriod" class="btn right">Add Period</button>
        </th>

      </tr>
      </thead>

      <tbody>


          <tr>
            <td>Monday</td>
            <td>
            <% @monday.each do |tp| %>
             <span>From</span>
               <%=tp.start_time.strftime("%H:%M") %>
             <span>To</span>
               <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

            <% end%>
            </td>
            <td> <a  data-target="editPeriodM">Edit</a></td>


          <tr>
            <td>Tuesday</td>
            <td>
              <% @tuesday.each do |tp| %>
                  <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

              <% end%>
            </td>
            <td> <a  data-target="editPeriodT">Edit</a></td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>
              <% @wednesday.each do |tp| %>
                  <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

              <% end%>
            </td>
            <td> <a  data-target="editPeriodW">Edit</a></td>

          </tr><tr>
            <td>Thursday</td>
            <td>
              <% @thursday.each do |tp| %>
                  <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

              <% end%>
            </td>
            <td> <a  data-target="editPeriodThu">Edit</a></td>
          </tr>
          <tr>
            <td>Friday</td>

            <td>
              <% @friday.each do |tp| %>
                  <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

              <% end%>
            </td>
            <td> <a  data-target="editPeriodF">Edit</a></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>
              <% @saturday.each do |tp| %>
                  <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

              <% end%>
            </td>

            <td> <a  data-target="editPeriodS">Edit</a></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>
              <% @sunday.each do |tp| %>
                  <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>

              <% end%>
            </td>
            <td> <a  data-target="editPeriodSun">Edit</a></td>

          </tr>

      </tbody>
    </table>
  </div>
</form>
<form method="post" action="/restaurant/table_management/add">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

<div id="addPeriod" class="modal ">
  <div class="modal-content">

    <p>Please select a time period </p>


    <select multiple id="days" name="days[]" required>
      <option value="" disabled> Select Dates</option>
      <%= options_from_collection_for_select(@weekdays, :id, :day) %>
    </select>

    <div class="row">
      <label for="timepicker">From </label>
      <input id="timepicker" name="tp[start_time]" class="timepicker" type="time">
    </div>

    <div class="row">
      <label for="timepicker2">To</label>
      <input id="timepicker2" name="tp[end_time]" class="timepicker" type="time">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn waves-effect waves-light" type="submit" name="action">Save
      <i class="material-icons ">send</i>
    </button>
  </div>
</div>
</form>

<div id="editPeriodM" class="modal ">
  <div class="modal-content">

    <p>Monday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
        <% @monday.each do |tp| %>
          <tr>
              <td> <span>From</span>
                  <%=tp.start_time.strftime("%H:%M") %>
                  <span>To</span>
                  <%=tp.end_time.strftime("%H:%M") %>
                  <span>    &nbsp;               </span>
              </td>
              <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
        <% end%>
      </tbody>
    </table>

  </div>
</div>
<div id="editPeriodT" class="modal ">
  <div class="modal-content">

    <p>Tuesday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @tuesday.each do |tp| %>
          <tr>
            <td> <span>From</span>
              <%=tp.start_time.strftime("%H:%M") %>
              <span>To</span>
              <%=tp.end_time.strftime("%H:%M") %>
              <span>    &nbsp;               </span>
            </td>
            <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
      <% end%>
      </tbody>
    </table>

  </div>
</div>
<div id="editPeriodW" class="modal ">
  <div class="modal-content">

    <p>Wednesday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @wednesday.each do |tp| %>
          <tr>
            <td> <span>From</span>
              <%=tp.start_time.strftime("%H:%M") %>
              <span>To</span>
              <%=tp.end_time.strftime("%H:%M") %>
              <span>    &nbsp;               </span>
            </td>
            <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
      <% end%>
      </tbody>
    </table>

  </div>
</div>
<div id="editPeriodThu" class="modal ">
  <div class="modal-content">

    <p>Thursday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @thursday.each do |tp| %>
          <tr>
            <td> <span>From</span>
              <%=tp.start_time.strftime("%H:%M") %>
              <span>To</span>
              <%=tp.end_time.strftime("%H:%M") %>
              <span>    &nbsp;               </span>
            </td>
            <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
      <% end%>
      </tbody>
    </table>

  </div>
</div>
<div id="editPeriodF" class="modal ">
  <div class="modal-content">

    <p>Friday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @friday.each do |tp| %>
          <tr>
            <td> <span>From</span>
              <%=tp.start_time.strftime("%H:%M") %>
              <span>To</span>
              <%=tp.end_time.strftime("%H:%M") %>
              <span>    &nbsp;               </span>
            </td>
            <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
      <% end%>
      </tbody>
    </table>

  </div>
</div>
<div id="editPeriodS" class="modal ">
  <div class="modal-content">

    <p>Saturday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @saturday.each do |tp| %>
          <tr>
            <td> <span>From</span>
              <%=tp.start_time.strftime("%H:%M") %>
              <span>To</span>
              <%=tp.end_time.strftime("%H:%M") %>
              <span>    &nbsp;               </span>
            </td>
            <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
      <% end%>
      </tbody>
    </table>

  </div>
</div>
<div id="editPeriodSun" class="modal ">
  <div class="modal-content">

    <p>Sunday Time Periods</p>
    <table>
      <thead>
      <th>Time Period</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @sunday.each do |tp| %>
          <tr>
            <td> <span>From</span>
              <%=tp.start_time.strftime("%H:%M") %>
              <span>To</span>
              <%=tp.end_time.strftime("%H:%M") %>
              <span>    &nbsp;               </span>
            </td>
            <td> <a type="button" href="/restaurant/table_management/remove?id= <%=tp.id %>">Remove</a></td>
          </tr>
      <% end%>
      </tbody>
    </table>

  </div>
</div>